/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/* TO DO:
- check for better section height max display
- add lazy loading
- ajout d'option touch sur cell/tablettes pour remplacer :hover
- régler problème sticky button sur safari
- effet loupe sur les images
*/

:root {
  --bg-color: #7acec2;
  --font-color: #a75f3b;
  --sct-bg-color: #e6dfcc;
  --btn-bg-color: #f58b57;
  --btn-bg-color2: #f5f9e9;
  --img-cpt-color: #412517;
  --games-font-color: darkcyan;
  --bandeau-font: 'Caveat-VariableFont_wght';
  --menu-font: 'Exo2-BlackItalic';
  
}

* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    scroll-behavior: smooth; 
  }

/* ************************** Font families  **************************** */
  
  /*****************  Dosis  ***************/
@font-face {
  font-family: 'Dosis-Regular';
  src: url(./fonts/Dosis-Regular.ttf);
}
@font-face {
  font-family: 'Dosis-Bold';
  src: url(./fonts/Dosis-Bold.ttf);
}
@font-face {
  font-family: 'Dosis-ExtraBold';
  src: url(./fonts/Dosis-ExtraBold.ttf);
}
@font-face {
  font-family: 'Dosis-Light';
  src: url(./fonts/Dosis-Light.ttf);
}
@font-face {
  font-family: 'Dosis-Medium';
  src: url(./fonts/Dosis-Medium.ttf);
}
@font-face {
  font-family: 'Dosis-VariableFont_wght';
  src: url(./fonts/Dosis-VariableFont_wght.ttf);
}

/******************  Exo2  *******************/
@font-face {
  font-family: 'Exo2-Black';
  src: url(./fonts/Exo2-Black.ttf);
}
@font-face {
  font-family: 'Exo2-BlackItalic';
  src: url(./fonts/Exo2-BlackItalic.ttf);
}
@font-face {
  font-family: 'Exo2-Bold';
  src: url(./fonts/Exo2-Bold.ttf);
}
@font-face {
  font-family: 'Exo2-BoldItalic';
  src: url(./fonts/Exo2-BoldItalic.ttf)
}
@font-face {
  font-family: 'Exo2-ExtraBold';
  src: url(./fonts/Exo2-ExtraBold.ttf);
}
@font-face {
  font-family: 'Exo2-Italic';
  src: url(./fonts/Exo2-Italic.ttf);
}
@font-face {
  font-family: 'Exo2-Medium';
  src: url(./fonts/Exo2-Medium.ttf);
}
@font-face {
  font-family: 'Exo2-Regular';
  src: url(./fonts/Exo2-Regular.ttf);
}
@font-face {
  font-family: 'Exo2-Thin';
  src: url(./fonts/Exo2-Thin.ttf);
}
@font-face {
  font-family: 'Exo2-Light';
  src: url(./fonts/Exo2-Light.ttf);
}
/*******************  Lato  *******************/

@font-face {
  font-family: 'Lato-Regular';
  src: url(./fonts/Lato-Regular.ttf);
}
@font-face {
  font-family: 'Lato-Black';
  src: url(./fonts/Lato-Black.ttf);
}
@font-face {
  font-family: 'Lato-Bold';
  src: url(./fonts/Lato-Bold.ttf);
}
@font-face {
  font-family: 'Lato-Italic';
  src: url(./fonts/Lato-Italic.ttf);
}
@font-face {
  font-family: 'Lato-Thin';
  src: url(./fonts/Lato-Thin.ttf);
}
@font-face {
  font-family: 'Lato-Light';
  src: url(./fonts/Lato-Light.ttf);
}
@font-face {
  font-family: 'Lato-ThinItalic';
  src: url(./fonts/Lato-ThinItalic.ttf);
}
/*****************  Caveat  ****************/
@font-face {
  font-family: 'Caveat-VariableFont_wght';
  src: url(./fonts/Caveat-VariableFont_wght.ttf);
}
/*****************  Italianno  ****************/
@font-face {
  font-family: 'Italianno-Regular';
  src: url(./fonts/Italianno-Regular.ttf);
}

/* **************************************************************************** */

html {
    height: 100%;
}

body {    
    color: var(--font-color);
    font-size: 1.25rem;
    background-color: var(--bg-color);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    min-height: 100vh;
}

.section1 {
  background-color: var(--sct-bg-color);
  /*     width: 60%; */
  -webkit-box-flex: 0.6;
      -ms-flex: 0.6 1 500px;
          flex: 0.6 1 500px;
  min-width: 475px;
  max-width: 800px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-filter: drop-shadow(0px 0px 45px grey);
          filter: drop-shadow(0px 0px 45px grey);
  text-align: center;
  z-index: 0;
  border: currentColor outset;
  border-width: 0 3px;
}

.section1 p, .title h1, .section1 h2, #img-caption, hr {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

/*************************** Header *********************** */
.title {
  /* margin: 0 auto; */
  padding: 20px;
  /* height: 140px; */
  background-color: #8d5c43;
  /* text-align: center; */
  color: #f5f9e9;
  -webkit-filter: drop-shadow(0px 10px 10px grey);
          filter: drop-shadow(0px 10px 10px grey);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

#catalogue{
  font-family: 'Dosis-ExtraBold';
}

div h2{
  font-family: 'Exo2-BoldItalic';
  font-size: 2.5rem;
  color: #8d5c43;
}
/* ******************************************** */

/* ********************** Game page ********************** */
.game-name  {
  font-family: 'Italianno-Regular';
  font-size: 5rem;
}

.shady-letter {
  -webkit-filter: drop-shadow(2px 1px 0px #d6bf65db);
          filter: drop-shadow(2px 1px 0px #d6bf65db)
}

.section1 .disclaimer, .section1 .description {
  margin: 46px 50px;
  text-align: justify;
}

.section1 .disclaimer {
  font-family: 'Caveat-VariableFont_wght';
  font-size: 1.625rem;
  -webkit-filter: drop-shadow(1px 1px 0px #ec977fdb);
          filter: drop-shadow(1px 1px 0px #ec977fdb);
  /* background-color: #d3aa5e80;
  padding: 15px;
  border: solid rgba(115, 11, 11, 0.817) 1px; */
}

.section1 .description {
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-indent: 1.5mm;
  line-height: 6.5mm;
  /* letter-spacing: 0.3mm; */
  color: #412517;
}

/* ***************************** test triangle début §  ********************************* */
/* .border {
  border: solid 1px black;
} */

/* .box {
  margin: 50px 0;
  width: 100%;
  height: 20%;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
} */


/* .triangle-box {
  margin-left: 50px;
  display: flex;
  position: relative;
  top: 29%;
} */

/* #triangle {
  margin: px 0;
  border-bottom: 8vw solid transparent;
  border-left: 59vh solid var(--btn-bg-color2);
  position: relative;
  top: 90%;
  left: -98px;
} */

/* *********************************************************************************** */
hr {
  height: 2px;
  margin: 20px auto;
  width: 50%;
  background-color: grey;
  border-color: brown;
}
/* ************************  Menu (nav-bar) ************************* */
.menu {
  padding:10px;
  font-size: 1.875rem;
  color: var(--img-cpt-color );
}
/* ******** menu hover-line ******** */
.nav-link:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--btn-bg-color );
  visibility: hidden;
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.nav-link:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1);
}

.nav-link {
  position: relative;
}

/* ************************************************************** */

/* ************************* Catégories ************************* */

/* .span {
  filter: drop-shadow(2px 1px 0px rgb(199, 188, 188));
} */

.bandeau {
  width: 100%;
  border: outset rgb(249, 202, 141);
  background-color: burlywood;
  -webkit-filter: drop-shadow(0px 10px 10px grey);
          filter: drop-shadow(0px 10px 10px grey);
  margin: 20px auto 40px;
  padding: 20px;
  color:#b31313;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
}
.catégories {
  color:rgb(231, 16, 16);
  font-size: 2.125rem;
  margin-top: 30px;
  font-family: var(--bandeau-font );
  font-weight: 700;
  z-index: -1;
  }

.highlight:hover {
  background-color: #41251724;
}
  /* ************** Dropdown explication ************* */
details > summary {
  list-style-type: none;
}

details:not([open]):hover > summary::after  {
  display: inline-block;
  font: var(--fa-font-solid);
  font-size: 1.3rem;
  content:'\f078';
  margin-left: 8px;
  -webkit-transition: 500ms;
  -o-transition: 500ms;
  transition: 500ms;
}

details[open] > summary::after {
  display: inline-block;
  font: var(--fa-font-solid);
  font-size: 1.3rem;
  content:'\f078';
  margin-left: 8px;
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
  -webkit-transition: 350ms;
  -o-transition: 350ms;
  transition: 350ms;
}

.dropdown-content {
  display: none;
  background-color: #ede7d6;
  min-width: 60px;
  max-width: 180px;
/*     margin: 30px 480px 0px 0px; */
  padding: 20px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
          box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  font: 0.6em 'Lato-Regular';
  color: #412517;
  position: absolute;
  left: -195px;
  z-index: 5;
}

.catégories:last-of-type .dropdown-content {
  top: 0;
}

.dropdown:active .dropdown-content {
  display: block;
  z-index: 5;
}
.dropdown:not(details):hover::after {
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font: var(--fa-font-solid);
  font-size: 1.3rem;
  content:'\f078';
  padding-left: 0.8rem;
}
.dropdown:not(details):active::after {
  content:''
}  

/* *************************************************** */
.catégories a {
  color:var(--games-font-color);
  font-family: 'Dosis-Light';
  font-size: 1.875rem;
}


.catégories>li {
  /* font-variant-caps: small-caps; */
  /* font-family: 'Dosis-Light'; */
  color: var(--games-font-color);
  /* font-size: 20px; */
}

a {
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  color:var(--img-cpt-color);
  font-family: var(--menu-font);
  font-weight: bold;
}

a:hover {
  color:var(--btn-bg-color);
}

a:active {
  color:var(--bg-color);
}

/* *********************** Boutons ************************* */
.buttons {
  margin: 20px auto;
  padding: 0 20px;
  height: 30px;
  /* font-size: 1em; */
  font-variant: small-caps;
  border: 3px outset;
  border-radius: 10px;
  background-color: var(--btn-bg-color);
  color: var(--sct-bg-color);
}

/* .buttons::before {
  content:"";
  margin:0
} */

.buttons a {
  text-decoration: none;
  color: var(--sct-bg-color);
  font-family: 'Exo2-ExtraBold';
  padding: 0 17px;
}

.buttons:hover, .buttons:hover a {
  background-color: var(--btn-bg-color2);
  color: var(--font-color);
}
  
.buttons:active, .buttons:active a {
  background-color: var(--font-color);
  color: var(--btn-bg-color);
}

/* .zob {
  height: 50px;
  font-size: 1.375rem;
  position: sticky;
  position: -webkit-sticky;
  bottom: 45px;
  left: 73%;
  z-index: 1;
  padding: 0;
  display: inline-block;
} */

#top {
  --space: 48px;
  height: 50px;
  font-size: 1.1em;
  position: fixed;
  bottom: var(--space);
  right: var(--space);
  z-index: 1;
  padding: 0;
  opacity: 1;
  -webkit-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
}

.home {
  margin-bottom: 50px;
  font-size: 1.1rem;
}

#bouton {
  padding: 10px 17px;
}

/* ********************************************************** */
#img-caption {
  display: block;
  color: var(--img-cpt-color);
  /* font-size: 1em; = 20px du body */
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: italic;

}

ul {
  list-style-type: none;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  font-variant-caps: small-caps
}

/* **************************** Réactivité ****************************** */
@media (max-width: 1190px) {
  
  .dropdown-content {
    position: revert;
    margin-top: 8px;
    /* top: 4rem; */
    /* left: 0; */
/*     width: 100%; */
/*     max-width: 100%; */
    min-width: revert;
    max-width: revert;
    -webkit-box-shadow: inset 0 0 8px burlywood, inset 1px 1px 3px black ;
            box-shadow: inset 0 0 8px burlywood, inset 1px 1px 3px black ;
    border-radius: 8px;
    -webkit-backdrop-filter: saturate(8);
            backdrop-filter: saturate(8);
  }
  
/*   .bandeau:active {
    height: calc(var(--bandeau-hgt) + var(--buffer))
  } */
  
  
}


@media (min-width: 769px) and (max-width: 1150px)   {
/*   .zob {
    position: fixed;
  }

  #top {
    margin-top: 50px;
  }
} */

/* @media (max-width: 900px) {
  body {
    background-color: lightgreen;
  }
}
@media (max-width: 500px) {
  body {
    background-color: rgb(238, 144, 172);
  } */
  /* .section1 {
    width: 90vw;
  } */ 
} 

@media (max-width: 499px) and (min-width: 300px) {
  
  /* body {
    background-color: rgb(238, 144, 172);
  } */

  .section1 {
    width: 90vw;
    min-width: initial;
  }

  .section1 .disclaimer, .section1 .description {
    margin: auto;
    text-align: justify;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  #image {
    width: 100% !important;
    padding: 15px;
  }
}